
@font-face {
  font-family: 'FrizQua-BoldItal';
  src: url('FrizQua-BoldItal.eot?#iefix') format('embedded-opentype'),  url('FrizQua-BoldItal.woff') format('woff'), url('FrizQua-BoldItal.ttf')  format('truetype'), url('FrizQua-BoldItal.svg#FrizQua-BoldItal') format('svg');
  font-weight: normal;
  font-style: normal;
}
