<div class="grid--full">

  <div class="grid-item large--two-thirds push--large--one-sixth">
      Regular page content goes here.
    
    <div class="rte">
	<h1>{{ page.title }}</h1>
      {{ page.content }}
    </div>

  </div>

</div>
